{% extends 'base/base.html' %}
{% block title %}
Page3 Homepage
{% endblock title %}

{% block content %}

<div class="main-body">
    <br />
    <div class="page-contents">
        <div class="sidebar">
            <div class="logged_in_user">{{user.username}}</div>
            <div class="user_page_profile_pic"><img src="/media/{{profile.profile_pic}}" /></div>
            <h1>This is the profilepage of</h1>
            <h1 class="user_name">{{profile_owner.username}}</h1>
            <div class="followers">Followers{{profile.followers.count}}</div>
            <div class="followers">Following{{profile.following.count}}</div>
            <button class="follow_btn">Follow</button>
        </div>
        {% if posts %}


        <div class="posts-timeline">
            <ul>
                {% for post in posts %}

                <li class="post">
                    <div>
                        <div class="profile-pic">
                            <a href="{%url 'posts-by-user' post.author%}"><img src="/media/{{profile.profile_pic}}"
                                    width="500"></a>
                        </div>
                        {{ post.title }} | {{ post.author }} | {{ post.post_date }} |
                        <a href="{% url 'posts-by-category' post.category %}">{{ post.category }}</a>
                        <br />
                        {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                        <a href="{% url 'edit-post' post.pk %}">Edit</a>
                        <a href="{% url 'delete-post' post.pk %}">Delete</a>
                        {% endif %}
                        {% endif %}
                        <hr>
                        <a class="post-title" onclick="storeScroll()" href="{% url 'upload_reply' post.pk %}">
                            {{post.body|safe}}</a>
                        {% if post.image1 %}
                        <img src="{{ post.image1.url}}" width="500">
                        {% endif %}


                        <div class="images">
                            {% if post.has_images %}

                            {% for image in image_list %}
                            {% if image.post.id == post.id %}
                            <img src="{{ image.image.url}}">
                            {% endif %}
                            {% endfor %}
                            {{ post.imagefiles}}
                            {% endif %}
                        </div>
                    </div>
                </li>

                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <h2>Sorry, no posts found for category <i>{{ cat }}</i></h2>
    {% endif %}
</div>
<script>
    $(document).ready(function () {

        $('.follow_btn').click(function () {
            $.ajax({
                type: 'POST',
                url: `/start_following/${$('.user_name').text()}`,
                data: {
                    'user': $('.logged_in_user').text(),
                    // csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (response) {

                },
                error: function (response) {
                    //alert("Error getting ranks and servers")
                }
            })
        })
    })
</script>
{% endblock content %}