.create-gamer-profile-posts-timeline {
    position: relative;
}

#popup {
    position: absolute;
    top: 10%;
    left: 30%;
    background-color: var(--bg_color);
    padding: 20px;
    border-radius: 10px;
    font-size: 13px;
}

#popup button {
    margin-top: 20px;
    padding: 10px;
    z-index: var(--popup);
}

#popup .edit-profile-btn {
    position: relative;
}

#popup #close-popup {
    position: absolute;
    margin-top: 0;
    top: -10px;
    right: -10px;
    width: 40px;
}

#popup #close-popup i {
    color: var(--primary_color);
    font-size: 20px;
    opacity: 100;
}

#popup .popup-blocker {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: var(--popup-blocker);
}

@media (max-width:600px) {
    #popup {
        top: 12%;
        left: 20%;
        right: 20%;
    }
}