{% load static %}

<div class="home-page-menus">

    {% if page == "home-timeline" %}
    <a href="{% url 'home-page'%}" class="item selected-tab">
        <i class="fa-solid fa-house"></i>
    </a>
    {% else %}
    <a href="{% url 'home-page'%}" class="item">
        <i class="fa-solid fa-house"></i>
    </a>
    {% endif %}



    {% if page == "lft-posts-page" %}
    <a href="{% url 'lft-posts' %}" class="item selected-tab">
        <i class="fa-solid fa-briefcase"></i>
    </a>
    {% else %}
    <a href="{% url 'lft-posts' %}" class="item">
        <i class="fa-solid fa-briefcase"></i>
    </a>
    {% endif %}


</div>