{% load static %}

<div class="profile-info-holder">
    <div class="profile_page_logged_in_user" style="display: none;">{{user.username}}</div>
    <div class="profile-info">
        <div class="profile-pic">
            {% if profile.profile_pic.name %}
            <img src="{{ profile.profile_pic.url}}">
            {% else %}
            <img src=" {% static 'PostIT/images/profilepic.jpg' %}">
            {% endif %}


        </div>
        <div class=" profile-text-info-container">
            <div class="profile-info-menu">
                <div class="profile-info-menu-left">
                    <div class="name">
                        <h5><b>{{ profile.user.username }}</b></h5>
                    </div>
                    <div>
                        <!-- <button class="profile-interct-button follow_btn">Follow</button> -->
                        <button class="profile-interct-button button-1 follow_btn">Follow</button>

                        <!-- <button class="vouch-user-button button-3" value="{{profile.user.id}}">
                        {% if vouched_for_user %}
                        Vouched <i class='fa-solid fa-check'></i>
                        {% else %}
                        Vouch
                        {% endif %}
                    </button> -->

                        {% if vouched_for_user %}

                        <button class="vouch-user-button button-4" value="{{profile.user.id}}">Vouched <i
                                class='fa-solid fa-check'></i></button>

                        {% else %}
                        <button class="vouch-user-button button-3" value="{{profile.user.id}}">Vouch </button>
                        {% endif %}
                    </div>
                </div>
                <div class="profile-info-menu-right">

                    {% if profile.id %}
                    <a href="{% url 'followers' profile.id %}" class="info">
                        <div class="number followers_count">{{profile.followers.count}}</div>
                        <div class="label">Followers</div>
                    </a>
                    {% endif %}

                    {% if profile.id %}
                    <a href="{% url 'following' profile.id %}" class="info">
                        <div class="number">{{profile.following.count}}</div>
                        <div class="label">Following</div>
                    </a>
                    {% endif %}

                    {% if profile.id %}
                    <a href="{% url 'vouched-by' profile.id %}" class="info">
                        <div class="number vouch-count">{{vouch_count}}</div>
                        <div class="label">Vouches</div>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="profile-info-bottom">
                <div>
                    {% if profile.age%}
                    <i class="fa-regular fa-calendar"></i> Age: &nbsp;{{profile.age}}
                    {%endif%}
                    <i class="fa-solid fa-circle-info"></i>Content Creator @PRX
                </div>
            </div>
        </div>

    </div>

    <div class="profile-info-tabs">
        {%if profile.user.username%}
        {% if profile.id %}
        {% if page == 'user_posts_page' %}
        <div class="item selected-tab" onclick="location.href=`{% url 'user-posts-page' profile.user.username %}`">
            Posts
        </div>
        {% else %}
        <div class="item" onclick="location.href=`{% url 'user-posts-page' profile.user.username %}`">
            Posts
        </div>
        {% endif %}
        {% endif %}
        {% endif %}




        {%if profile.user.username%}
        {% if profile.id %}
        {% if page == 'user_profile_page' %}
        <div class="item selected-tab" onclick="location.href=`{% url 'user-profile-stats' profile.user.username %}`">
            Profile
        </div>
        {% else %}
        <div class="item" onclick="location.href=`{% url 'user-profile-stats' profile.user.username %}`">
            Profile
        </div>
        {% endif %}
        {% endif %}
        {% endif %}

        {% if user.is_authenticated %}
        {% if profile.id %}
        {% if page == 'user_communities_page' %}
        <a class="item selected-tab" href="{% url 'user-communities' profile.user.id %}" class="item">Communities
            ({{profile.communities.all.count}})</a>
        {% else %}
        <a class="item" href="{% url 'user-communities' profile.user.id %}" class="item">Communities
            ({{profile.communities.all.count}})</a>
        {% endif %}
        {% endif %}
        {% endif %}

    </div>
</div>

<script>
    var is_following = false
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: '{% url "get-following" %}',
            success: function (response) {
                console.log(response['following_list'])
                for (let i = 0; i < response['following_list'].length; i++) {
                    if (response['following_list'][i] == $('.name').text().trim()) {
                        is_following = true
                        $('.follow_btn').text('Following');
                        console.log("is_following: ", is_following)

                    }
                }
            }
        })
        console.log("Doc readyy!!", is_following)

        $('.profile-interct-button').click(ToggleFollow)
    })

    function ToggleFollow() {
        console.log(is_following)
        if (is_following) {
            Unfollow_Profile();
        }
        else Follow_Profile();
    }
    function Follow_Profile() {

        $.ajax({
            type: 'POST',
            url: `/start_following/${$('.name').text().trim()}`,
            data: {
                'user': $('.profile_page_logged_in_user').text(),
                // csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function (response) {
                $('.follow_btn').text('Following');
                is_following = true
                $('.followers_count').text(response['followers_list'].length)
                console.log(response['followers_list'])
            },
            error: function (response) {
                console.log("ERROORRRR in follow")
            }
        })
    }
    function Unfollow_Profile() {

        $.ajax({
            type: 'POST',
            url: `/unfollow/${$('.name').text().trim()}`,
            data: {
                'user': $('.profile_page_logged_in_user').text(),
                // csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function (response) {
                $('.follow_btn').text('Follow');
                is_following = false
                $('.followers_count').text(response['followers_list'].length)
                console.log(response['followers_list'])
            },
            error: function (response) {
                console.log("ERROORRRR in unfollow")
            }
        })
    }
</script>



<script>
    function updateVouchButtonText(btn, no_of_vouches, vouched_for_user) {
        if (vouched_for_user) {
            elem1 = "<i class='fa-solid fa-check'></i>"
            elem = "Vouched <i class='fa-solid fa-check'></i>"
            btn[0].className = "vouch-user-button button-4"
        }
        else {

            elem = "Vouch"
            btn[0].className = "vouch-user-button button-3"
        }
        vouch_count_text = document.getElementsByClassName("vouch-count")[0]
        console.log("Vouch ccount" + vouch_count_text)
        btn[0].innerHTML = elem

        vouch_count_text.innerHTML = no_of_vouches
        console.log(btn[0].innerHTML)
    }


    $(document).on('click', '.vouch-user-button', function (e) {
        e.preventDefault();

        var this_ = $(this)
        userid = this_.attr("value").valueOf()
        console.log("Trying to vouch")
        // var somevar = this_.attr()
        $.ajax({
            type: 'POST',
            url: '{% url "vouch-user" %}',
            data: {
                userid: userid,
                action: 'post',
            },
            success: function (json) {
                no_of_vouches = json['result'];
                vouched_for_user = json['vouched_for_user'];
                console.log(json)
                updateVouchButtonText(this_, no_of_vouches, vouched_for_user)
            },
            error: function (xhr, errmsg, err) {

            }
        });
    })
</script>