{% load static %}
{% for community in communities %}
<div class="account-list-item">

    <div class="profile-pic">
        <a href="{%url 'community-page' community.id %}">
            {% if community.profile_pic.name %}
            <img src="{{ community.profile_pic.url}}">
            {% else %}

            <img src="{% static 'PostIT/images/profilepic.jpg' %}">
            {% endif %}
        </a>
    </div>
    <div class="info">
        <div class="username">
            <a href="{%url 'community-page' community.id %}">@{{community.name}}</a>
        </div>
        <div class="bio">
            {{community.bio}}
        </div>
    </div>
    {% if community in user_joined_communities %}
    <div id="join-community-button" class="interact-button button-1" value="{{community.id}}">
        Joined
    </div>
    {% else %}
    <div id="join-community-button" class="interact-button button-1" value="{{community.id}}">
        Join
    </div>
    {% endif %}
</div>
{% endfor %}