{% extends 'base/base.html' %}
{% load static %}
{% block title %}
Page3 - Communities List
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}


{% include 'navigation/navbar-top.html' %}
<div class="main-body">

    {% include 'navigation/sidebar-left.html' %}

    <div class="page-contents">

        <div class="posts-timeline">
            <div class="page-title">All Communities</div>
            <br />
            {% for community in communities %}
            <div class="account-list-item">

                <div class="profile-pic">
                    <a href="{%url 'community-page' community.id %}">
                        {% if community.profile_pic.name %}
                        <img src="{{ community.profile_pic.url}}">
                        {% else %}

                        <img src="{% static 'PostIT/images/profilepic.jpg' %}">
                        {% endif %}
                    </a>
                </div>
                <div class="info">
                    <div class="username">
                        <a href="{%url 'community-page' community.id %}">@{{community.name}}</a>
                    </div>
                    <div class="bio">
                        {{community.bio}}
                    </div>
                </div>
                {% if community in user_joined_communities %}
                <div id="join-community-button" class="interact-button button-1" value="{{community.id}}">
                    Joined
                </div>
                {% else %}
                <div id="join-community-button" class="interact-button button-1" value="{{community.id}}">
                    Join
                </div>
                {% endif %}
            </div>
            {% endfor %}


        </div>
        {% include 'navigation/sidebar.html' %}
    </div>
</div>
{% endblock content %}
<!-- JS Scripts Here -->

<script>
    function updateCommunityButtonText(btn, buttonText) {
        //btn.element.innerHTML = "LIKED BY" + " " + no_of_likes + "lkl"
        //btn.text("LIKED BY" + " " + no_of_likes + " <h1>JLO</h1>")
        //elem = "<i class='fa-solid fa-heart'></i>"
        btn[0].innerHTML = "<b>" + buttonText + "</b>"
        console.log(btn[0].innerHTML)
    }

    $(document).on('click', '#join-community-button', function (e) {
        e.preventDefault();

        var this_ = $(this)
        community_id = this_.attr("value").valueOf()

        // var somevar = this_.attr()
        $.ajax({
            type: 'POST',
            url: '{% url "join_community" %}',
            data: {
                community_id: community_id,
                // postid: $('#like-button').val(),
                action: 'post',
                // postid: '{{ post.pk }}',
            },
            success: function (json) {

                // this.getElementById("like-button").innerHTML = json['result']
                // document.getElementsByTagName('{{post.id}}').innerHTML = json['result']

                // document.getElementById("like_count").innerHTML = json['result'];
                // no_of_likes = this_.attr("name").valueOf();
                buttonText = json['buttonText'];
                console.log(json)
                updateCommunityButtonText(this_, buttonText)
            },
            error: function (xhr, errmsg, err) {

            }
        });
    })

</script>