{% load static %}

<nav id="main-nav">
    <div class="nav-fixed-elements">
        <div class="navbar-toggle"><i class="fa-solid fa-bars " id="navbar-toggle"></i></div>
        <div class="nav-logo">
            <a class=" home" href="{% url 'home-page'%}"><img src="{% static 'PostIT/images/PostIT.png' %}"
                    width="70"></a>

        </div>
    </div>
    <ul class="nav-left-ul">


        <!-- {% if user.is_authenticated %}
        {% if user.profile.id %}

        {% else %}
        <li><a href="{% url 'add-profile' %}"><i class="fa-solid fa-user-plus"></i>Add Profile</a></li>
        {% endif %}
        {% endif %} -->


        <li class="nav-search-bar">
            <form action="{% url 'search'  %}" method="POST" enctype="multipart/form-data" id="search-form">
                {% csrf_token %}
                <input class="search-bar" name="search_query" type="text" placeholder="Search PostIT ">
                <button id="search_btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </li>

    </ul>
    <ul class="nav-right-ul">
        {% if user.is_authenticated %}
        {% if user.profile.id %}
        <li class="nav-add-post">
            <a href=""><i class="fa-solid fa-plus"></i><br />Add Post
                <span class="arrow">&#x25BC;</span>
            </a>


            <ul class="submenu">

                <li>
                    <a href="{% url 'add-post' %}"><i class="fa-solid fa-feather"></i>Text</a>
                </li>
                <li>
                    <a href="{% url 'add-image-post' %}"><i class="fa-solid fa-image"></i>Image Post</a>
                </li>
                <li>
                    <a href="{% url 'add-video-post' %}"><i class="fa-solid fa-video"></i>Video Post</a>
                </li>
            </ul>
            <!-- <div class="add-post-options-holder">
                        <div class="add-post-options" id="add-post-options">
                            <ul>
        
                                <li class="add-post-option"><a class="create-post" href="{% url 'add-post' %}"><i
                                            class="fa-solid fa-feather"></i>Text
                                        Post</a></li>
                                <li class="add-post-option"><a href="{% url 'add-image-post' %}"><i
                                            class="fa-regular fa-image "></i>Image Post</a>
                                </li>
                                <li class="add-post-option"><a href="{% url 'add-video-post' %}"><i
                                            class="fa-solid fa-video "></i>Video Post</a></li>
                            </ul>
                        </div> -->

            </div>
        </li>
        <li>
            <a href="#"><i class="fa-solid fa-user"></i><br />Profile
                <span class="arrow">&#x25BC;</span>
            </a>
            <ul class="submenu">

                <li>
                    <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
                </li>
                <li>
                    <a href="{% url 'profile-page' user.profile.id %}"><i class="fa-solid fa-address-card"></i>View
                        Profile</a>
                </li>
                <li>
                    <a href="{% url 'edit-user-profile-page' user.profile.id %}"><i
                            class="fa-solid fa-pen-to-square"></i>Edit Profile</a>
                </li>
            </ul>
        </li>
        {% else %}
        <li><a href="{% url 'add-profile' %}"><i class="fa-solid fa-user-plus"></i><br />Add profile</a></li>
        {% endif %}

        {% else %}
        <li><a href="{% url 'register' %}"><i class="fa-solid fa-arrow-up-right-from-square"></i><br />Register</a></li>
        <!-- <li><a href="{% url 'login' %}">Login</a></li> -->
        <li><a href="{% url 'login-user' %}"><i class="fa-solid fa-right-to-bracket"></i><br />Login</a></li>
        {% endif %}

        <li>
            <a href="#"><i class="fa-solid fa-envelope"></i> <br />Messages</a>
        </li>
        <li>
            <a href="{% url 'create-community' %}"><i class="fa-solid fa-users-between-lines"></i><br />Create
                Community</a>
        </li>
        <li>
            <a href="{% url 'create-community' %}"><i class="fa-solid fa-bell"></i><br />Notifications</a>
        </li>

    </ul>
</nav>
<div class="blocker-navbar" id="blocker-navbar"></div>

<script src="{% static 'PostIT/js/navbar.js'%}"></script>

<script>
    function addPostOptionsToggle() {

        var addPostOptions = document.getElementById("add-post-options")
        var blockerPage = document.getElementById("blocker-navbar")



        if (addPostOptions.style.display === "flex") {
            addPostOptions.style.display = "none"
            blockerPage.style.display = "none"
        }
        else {
            addPostOptions.style.display = "flex"
            blockerPage.style.display = "flex"
            blockerPage.style.pointerEvents = "auto"
        }
    }

    $(document).on('click', '#blocker-navbar', function (e) {

        var addPostOptions = document.getElementById("add-post-options")
        var blockerPage = document.getElementById("blocker-navbar")

        addPostOptions.style.display = "none"
        blockerPage.style.display = "none"

        blockerPage.style.pointerEvents = "none"

    });
</script>