{% load static %}

<nav id="main-nav">
    <ul>
        <li>
            <div class="navbar-toggle"><i class="fa-solid fa-bars " id="navbar-toggle"></i></div>
        </li>
        <li>
            <a class=" home" href="{% url 'home-page'%}"><img src="{% static 'PostIT/images/PostIT.png' %}"
                    width="70"></a>

        </li>
        <!-- <li>
            <a class=" home" href="{% url 'home-page'%}"><i class="fa-solid fa-house"></i></a>

        </li> -->
        {% if user.is_authenticated %}
        {% if user.profile.id %}
        <li>
            <a class="add-post-button" href="#"><i class="fa-solid fa-plus"></i>
                <span class="arrow">&#x25BC;</span>
            </a>
            <ul class="submenu">
                <li>
                    <a class="create-post" href="{% url 'add-post' %}"><i class="fa-solid fa-feather"></i>Text Post</a>
                </li>
                <li>
                    <a href="{% url 'add-image-post' %}"><i class="fa-regular fa-image "></i>Image Post</a>
                </li>
                <li>
                    <a href="{% url 'add-video-post' %}"><i class="fa-solid fa-video "></i>Video Post</a>
                </li>

            </ul>
        </li>
        {% else %}
        <li><a href="{% url 'add-profile' %}">Add Profile</a></li>
        {% endif %}
        {% endif %}


        <li>
            <form action="{% url 'search'  %}" method="POST" enctype="multipart/form-data" id="search-form">
                {% csrf_token %}
                <input class="search-bar" name="search_query" type="text" placeholder="Search PostIT ">
                <button id="search_btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </li>
        {% if user.is_authenticated %}
        {% if user.profile.id %}
        <li>
            <a href="#"><i class="fa-solid fa-user"></i>Profile
                <span class="arrow">&#x25BC;</span>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
                </li>
                <li>
                    <a href="{% url 'profile-page' user.profile.id %}"><i class="fa-solid fa-address-card"></i>View
                        Profile</a>
                </li>
                <li>
                    <a href="{% url 'edit-user-profile-page' user.profile.id %}"><i
                            class="fa-solid fa-user-pen"></i>Edit Profile</a>
                </li>
            </ul>
        </li>
        {% else %}
        <li>Add profile</li>
        {% endif %}

        {% else %}
        <li><a href="{% url 'register' %}">Register</a></li>
        <!-- <li><a href="{% url 'login' %}">Login</a></li> -->
        <li><a href="{% url 'login-user' %}">Login</a></li>
        {% endif %}

        <li>
            <a href="#"><i class="fa-solid fa-envelope"></i> Messages</a>
        </li>
        <li>
            <a href="{% url 'create-community' %}">Create Community</a>
        </li>
    </ul>
</nav>

<script src="{% static 'PostIT/js/navbar.js'%}"></script>