{% load static %}
<div class="sidebar-page-links">
    {%if gamer_profiles %}
    <button class="page-link" onclick="location.href=`{% url 'user-profile-stats' user%}`">
        <a href="{%url 'user-profile-stats' user %}">

            View Gamer Profiles
        </a>
    </button>
    {% endif %}


    {% if page == 'edit-gamer-profile' or page == 'home-timeline' %}
    <button class="page-link" onclick="location.href=`{% url 'create-gamer-profile' user.username %}`">
        <a href="{% url 'create-gamer-profile' user.username %}">

            Create New Gamer Profile
        </a>
    </button>

    {% endif %}

    {% if page == 'create-gamer-profile' or page == 'home-timeline' %}
    {%if gamer_profiles %}
    <button class="page-link" onclick="location.href=`{% url 'edit-gamer-profile' user.username %}`">
        <a href="{% url 'edit-gamer-profile' user.username %}">

            Edit Gamer Profile
        </a>
    </button>



    {%endif%}
    {% endif %}

    <button class="page-link" onclick="location.href=`{% url 'matchmaking-home' user%}`">
        <a href="{% url 'matchmaking-home' user%}">

            Matchmaking
        </a>
    </button>

    <!-- User Profile Page -->
    {%if page == 'user_profile_page' or page == 'user_posts_page' or page == 'user_communities_page' %}

    <button class="page-link" onclick="location.href=`{% url 'create-gamer-profile' user.username %}`">
        <a href="{% url 'create-gamer-profile' user.username %}">

            Create New Gamer Profile
        </a>
    </button>

    {%if gamer_profiles %}
    <button class="page-link" onclick="location.href=`{% url 'edit-gamer-profile' user.username %}`">
        <a href="{% url 'edit-gamer-profile' user.username %}">

            Edit Gamer Profile
        </a>
    </button>

    {%endif%}
    {%endif%}
    <!-- User Profile Page -->
</div>