{% load static %}
<div class="sidebar-page-links">
    <button class="page-link" onclick="location.href=`{% url 'matchmaking-home' user%}`">
        <a href="{% url 'matchmaking-home' user%}">

            Matchmaking
        </a>
    </button>
    {% if page == 'edit-gamer-profile' or page == 'home-timeline' %}
    <button class="page-link" onclick="location.href=`{% url 'create-gamer-profile' user.username %}`">
        <a href="{% url 'create-gamer-profile' user.username %}">

            Create New Gamer Profile
        </a>
    </button>
    {% endif %}

    {% if page == 'create-gamer-profile' or page == 'home-timeline' %}
    {%if gamer_profiles %}
    <button class="page-link" onclick="location.href=`{% url 'edit-gamer-profile' user.username %}`">
        <a href="{% url 'edit-gamer-profile' user.username %}">

            Edit Gamer Profile
        </a>
    </button>
    {%endif%}
    {% endif %}

    <!-- User Profile Page -->
    {%if page == 'user_profile_page' %}
    {%if user_to_view == user.username%}
    <button class="page-link" onclick="location.href=`{% url 'create-gamer-profile' user.username %}`">
        <a href="{% url 'create-gamer-profile' user.username %}">

            Create New Gamer Profile
        </a>
    </button>
    {%if gamer_profiles %}
    <button class="page-link" onclick="location.href=`{% url 'edit-gamer-profile' user.username %}`">
        <a href="{% url 'edit-gamer-profile' user.username %}">

            Edit Gamer Profile
        </a>
    </button>
    {%endif%}
    {%endif%}
    {%endif%}
    <!-- User Profile Page -->
</div>