
    <div class="profile_user" style="display: none;">
        {{ user.username }}
    </div>
    {%for logo, url in game_logos.items%}
    {%endfor%}

    {%if page == 'user_profile' %}
    <div class="page" style="display:none ;">{{page}}</div>
    {%endif%}
    <div class="sidebar-section">
        <div class="sidebar-section-title">
            Profile
        </div>

        {%if gamer_profiles%}

        {%include 'gamerProfile/gamer_profile_section_sidebar.html' %}

        {%endif%}

        <div class="gamer_profile_stats_section">
            {%include 'gamerProfile/gamer_profile_stats.html' %}
        </div>

        {% if user.is_authenticated%}
        {%include 'navigation/sidebar_page_links.html' %}
        {%endif%}

    </div>

    

    {% include 'community/communities_list.html' %}
    


<script>
    var selected_gamer_profile;
    $('.gamer_profiles_dropdown-container').css('display', 'none');

    $(document).ready(function () {
        $('#gamer_profiles-btn').click(Toggle_Dropdown_Display);
        if ($('.page').text().trim() == "user_profile")
            $('.sidebar').addClass("custom_margin_top");
    });

    $('.gamer_profiles_dropdown-btn').click(function () {
        selected_gamer_profile = $(this).text().trim();

        user_name = $('.sidebar_username').text().replaceAll(' ', '');
        $.ajax({
            type: 'POST',
            url: `/get_gamer_profile_stats/${user_name}`,
            dataType: "json",
            data: {
                game: selected_gamer_profile,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (response) {

                $('.gamer_profile_stats_section').html(response['gamer_profile_stats']);
                Toggle_Dropdown_Display();
                $('.gamer_profiles_btn_text').text($('.game_name').text());
                $('.gamer_profiles-btn-img').attr("src", response['game_logo']);

            }
        })
    });


    function Toggle_Dropdown_Display() {
        if ($('.gamer_profiles_dropdown-container').css('display') == 'flex') {
            $('.gamer_profiles_dropdown-container').css('display', 'none');
        }
        else $('.gamer_profiles_dropdown-container').css('display', 'flex');
    }
</script>