{% load static %}
<div class="sidebar-left" id="sidebar-left">

    <div class="sidebar-middle-section">
        <div class="sidebar-list">

            <ul>
                <li class="sidebar-list-item"> <i class="fa-solid fa-hashtag"></i>Explore</li>
                <li class="sidebar-list-item"><i class="fa-solid fa-bookmark"></i>Bookmarks</li>
                <li class="sidebar-list-item"><i class="fa-solid fa-magnifying-glass"></i></i>Discover</li>
                <li class="sidebar-list-item"><i class="fa-solid fa-newspaper"></i></i></i>Latest News</li>
                <li class="sidebar-list-item"><i class="fa-solid fa-users-viewfinder"></i>Matchmaking</li>
            </ul>
        </div>

    </div>



    <div class="bottom-sidebar">
        <hr />
        {% if user.profile %}
        <div class="sidebar-profile-section">

            <div class="sidebar-profile-pic">
                <a href="{%url 'posts-by-user' user %}">
                    {% if user.profile.profile_pic.name %}
                    <img src="{{ user.profile.profile_pic.url}}" width="200"></a>
                {% else %}
                <img src="{% static 'PostIT/images/profilepic.jpg' %}" width="200">
                {% endif %}

            </div>

            <div class="sidebar-profile-name">
                {{user.username}}<br />
                <div class="sidebar-view-profile-button">
                    <a href="{%url 'posts-by-user' user %}">View Profile</a>

                </div>
            </div>
            <div class="blocker-page" id="blocker-page"></div>
            <div class="sidebar-profile-settings-options" id="sidebar-profile-settings-options">
                <ul>
                    <li class="sidebar-profile-settings-option">Edit Profile</li>
                    <li class="sidebar-profile-settings-option">Create new Profile</li>
                    <li class="sidebar-profile-settings-option">Logout</li>
                </ul>
            </div>
            <div class="sidebar-profile-settings-button" onclick="navbarProfileSettingsToggle()">

                <i class="fa-solid fa-ellipsis"></i>

            </div>
        </div>

        {% endif %}
    </div>

</div>

<script>
    function navbarProfileSettingsToggle() {
        var navbarProfileSettingsOptions = document.getElementById("sidebar-profile-settings-options")
        var blockerPage = document.getElementById("blocker-page")



        if (navbarProfileSettingsOptions.style.display === "block") {
            navbarProfileSettingsOptions.style.display = "none"
            blockerPage.style.display = "none"
        }
        else {
            navbarProfileSettingsOptions.style.display = "block"
            blockerPage.style.display = "block"
            blockerPage.style.pointerEvents = "auto"
        }
    }

    $(document).on('click', '#blocker-page', function (e) {

        var navbarProfileSettingsOptions = document.getElementById("sidebar-profile-settings-options")
        var blockerPage = document.getElementById("blocker-page")

        navbarProfileSettingsOptions.style.display = "none"
        blockerPage.style.display = "none"

        blockerPage.style.pointerEvents = "none"

    });
</script>