{% extends 'base/base.html' %}
{% load static %}
{% block title %}
Page3 - Chat
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

{% include 'navigation/navbar-top.html' %}
<div class="main-body" id="wrapper">
    {% include 'navigation/sidebar-left.html' %}
    <div class="page-contents">
        <div class="posts-timeline">

            <div class="chat-section">
                <div class="chat-contacts">
                    <div class="header">
                        Messages
                        <hr>
                    </div>

                    {% include 'chat/chat_contacts.html' %}
                </div>
                <div class="chat-messages">


                    <div id="menu">

                        <div class="logged_in_user">
                            {{logged_in_user_id}}
                        </div>
                        <div class="user_to_chat_with">
                            {{user_to_chat_with_id}}
                        </div>
                        <div id="sender-username" value="{{logged_in_user}}">
                            Sender: {{logged_in_user}}
                        </div>
                        <div id="receiver-username" value="{{user_to_chat_with_username}}">
                            Reciever: {{user_to_chat_with_username}}
                        </div>


                    </div>

                    <div id="chatbox">
                        <ul id="messages">

                        </ul>
                        <input type="text" name="" id="message" class="usermsg" size="63" placeholder="Text Message"
                            autocomplete="off">
                        <button type="sumbit" name="" class="button" id="submit_btn">Send <i
                                class="fa-solid fa-paper-plane"></i></button>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<script type="module">
    var has_page_loaded = false;
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.16.0/firebase-app.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    const firebaseConfig = {
        apiKey: "AIzaSyDz3w1IY8oS9mWxPPMRZTgBJH5Jj2BQY-M",
        authDomain: "fir-startapp-caf04.firebaseapp.com",
        projectId: "fir-startapp-caf04",
        storageBucket: "fir-startapp-caf04.appspot.com",
        messagingSenderId: "789830257393",
        appId: "1:789830257393:web:1a59db1a7ab51afa897750"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);

    import {
        getDatabase, ref, push, set, query, orderByChild, limitToFirst, limitToLast,
        onChildAdded, onChildChanged, onChildRemoved
    } from "https://www.gstatic.com/firebasejs/9.16.0/firebase-database.js";

    const db = getDatabase();
    let logged_in_user = $('.logged_in_user').text().trim()
    let user_to_chat_with = $('.user_to_chat_with').text().trim()


    var chatRoomName = "";

    if (logged_in_user > user_to_chat_with)
        chatRoomName = `${logged_in_user}_${user_to_chat_with}`
    else chatRoomName = `${user_to_chat_with}_${logged_in_user}`

    var last_message_id = 0;
    var unread_messages_removed = false;

    const chatRoom_ref = ref(db, `DM_Chat/${chatRoomName}`);

    const messages_query = query(ref(db, `DM_Chat/${chatRoomName}`), orderByChild("message_id"), limitToLast(5));

    onChildAdded(messages_query, (data) => {
        last_message_id = data.val().message_id;
        console.log(data.val())
        console.log(unread_messages_removed)
        $('#messages').append(`
                            <ul>${data.val().sender}</ul>
                            <ul>${data.val().message}</ul>
        `)
        console.log("Sender: " + data.val().sender)
        console.log("logged in user: ", logged_in_user)


        if (data.val().sender === logged_in_user) {
            console.log("sender is logged in user")
        }
        else if (has_page_loaded) {

            remove_unread_message(event)
            console.log("Calling unread event")
            console.log("sender is not logged in user")
        }

    });

    function InsertData() {
        let message = document.getElementById("message").value;

        console.log("Last message id ", last_message_id)
        const chatRoom_ref = ref(db, `DM_Chat/${chatRoomName}`);
        const newMessage = push(chatRoom_ref);
        set(newMessage, {
            "message_id": last_message_id + 1,
            "sender": logged_in_user,
            "message": message,

        });

        add_unread_message(event)
        //Find who this logged in user sent message to
        //Then add the logged in user to the unread messages list



    }


    window.onload = (event) => {
        console.log("page is fully loaded");
        has_page_loaded = true;
        //remove_unread_message(event)
    };



    document.getElementById("submit_btn").addEventListener('click', InsertData);




</script>

<script>

    function add_unread_message(e) {
        e.preventDefault();


        receiver = document.getElementById('receiver-username').getAttribute('value')

        // var somevar = this_.attr()
        $.ajax({
            type: 'POST',
            url: '{% url "add-unread-message-notification" %}',
            data: {
                receiver: receiver,
                action: 'post',
            },
            success: function (json) {
                //no_of_vouches = json['result'];
                console.log("hereee")
                console.log(json)

            },
            error: function (xhr, errmsg, err) {

            }
        });
    }
</script>
<script>
    function remove_unread_message(e) {
        e.preventDefault()
        receiver = document.getElementById('receiver-username').getAttribute('value')

        $.ajax({
            type: 'POST',
            url: '{% url "remove-unread-message-notification" %}',
            data: {
                receiver: receiver,
                action: 'post',
            },
            success: function (json) {
                //no_of_vouches = json['result'];
                console.log(json)

            },
            error: function (xhr, errmsg, err) {

            }
        });
    }
</script>

{% endblock content %}