{%for g in selected_gamer_profiles%}
<div class="divided_section overview-section">
    <div class=" left_section">
        <div class="game_display_name" style="display: none;">{{g.game}}</div>

        {%for logo, url in game_logos.items%}
        {%if g.game == logo %}
        <img class="game-logo" src={{url}} alt="">
        {%endif%}
        {%endfor%}


    </div>
    <div class="section-info right_section">
        <div class="game_stat top_game_stat">
            <div class="label"><i class="fa-solid fa-user"></i>{{g.game}} User ID :</div>
            <div class="value">{{g.in_game_user_id}}</div>
        </div>

        {% if g.age %}
        <div class="game_stat top_game_stat">
            <div class="label"><i class="fa-solid fa-calendar"></i>Age :</div>
            <div class="value">{{g.age}}
            </div>
        </div>
        {% endif %}

        <div class="game_stat top_game_stat">
            <div class="label"><i class="fa-solid fa-ranking-star"></i>Current/ Peak Rank :</div>
            <div class="value">{{g.rank}}
                {% if g.peak_rank %}
                /{{g.peak_rank}}
                {% endif %}
            </div>
        </div>

        <div class="game_stat top_game_stat">
            <div class="label"><i class="fa-solid fa-server"></i> Region (Servers) :</div>
            <div class="value"> {{g.region}}
                ({%for server in g.servers %}
                {{server}}, &nbsp;
                {%endfor%})
            </div>
        </div>

        <div class="game_stat top_game_stat">
            <div class="label"><i class="fa-solid fa-clock"></i> Availability :</div>
            <div class="value"> {{g.time_available}}</div>
        </div>

    </div>
</div>

<!-- <div class="section_divider"></div> -->
<br />
<div class="divided_section mid-section">
    <div class="section-info mid-left-info">
        <!-- <div class="game_stat ">
            <div class="label"><i class="fa-solid fa-server"></i>Allow Matchmaking :</div>
            {%if g.looking_for_friends %}
            <div class="value"><i class="fa-solid fa-toggle-on"></i></div>
            {%else%}
            <div class="value"><i class="fa-solid fa-toggle-off"></i></div>
            {%endif%}

        </div> -->
        <div class="section-label">Skillset</div>
        <br><br>
        <div class="mid-left-section">
            {%for item in additional_info%}
            {% if item.game == 'Valorant' %}
            <div class="game_stat">
                <div class="label">
                    <i class="fa-solid fa-user-ninja"></i> Agents:
                </div>
                <div class="value">
                    {{item.info.0}}
                </div>
            </div>
            <div class="game_stat">
                <div class="label">
                    <i class="fa-solid fa-map-location"></i> Best Maps:
                </div>
                <div class="value">
                    {{item.info.1}}
                </div>
            </div>
            {%endif%}
            {%endfor%}

            <div class="game_stat ">
                <div class="label"> <i class="fa-solid fa-magnifying-glass-arrow-right"></i> Status : </div>
                <div class="value">{{g.user_status}}</div>
            </div>

            <div class="section-info bottom_section">
                <div class="bar_stats">
                    <div class="label"><i class="fa-solid fa-dice-d6"></i> Roles :</div>


                    {%for label, value in saved_roles_rating%}
                    <div class="stat_container">
                        <div class="bar_label">{{label}}</div>
                        <div class="bar_holder" id='{{label}}{{"_bar"}}'>
                            <div class="bar_display"></div>
                            <div class="bar_value" style="display: none;">{{value}}</div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <div class="game_stat vertical">
                    <div class="label"><i class="fa-solid fa-book"></i> More info : </div>
                    <div class="value">{{g.remarks}}</div>
                </div>

                <div class="bar_stats">
                    <div class="label"><i class="fa-solid fa-headphones-simple"></i> Communication level :</div>
                    <div class="stat_container">

                        <div class="bar_holder" id="communication_level_bar">
                            <div class="bar_display"></div>
                            <div class="bar_value" style="display: none;">{{g.communication_level}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









    <div class="section-info mid_right_info">
        <div class="section-label">
            Career
        </div>
        <br><br>

        {%for item in g.experience%}
        <div class="game_stat">
            <div class="label">
                <i class="fa-solid fa-people-group"></i> Team/ Org
            </div>
            <div class="value">
                {{item.0}}
            </div>
        </div>
        <div class="game_stat">
            <div class="label">
                <i class="fa-solid fa-briefcase"></i> Experience/ Role
            </div>
            <div class="value">
                {{item.1}}
            </div>
        </div>
        <br><br>
        {%endfor%}
        <br><br>
        <div class="section-info ">
            <div class="section-label">
                <div class="label"><i class="fa-solid fa-medal"></i>Achievements :</div>
            </div>
            <br>
            <div class="game_stat flexible">
                <div class="value">{{g.achievements}}</div>
            </div>
        </div>
    </div>

</div>
<div class="full_width_section">

</div>
<center>
    <a href="{% url 'add-profile-post' g.game %}">
        <button class="button-5" value="{{g.game}}">Create post with your Profile</button>
    </a>
</center>
{%endfor%}

<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: `/get_saved_gamerank_server/Valorant`,
            success: function (response) {
                for (let i = 0; i < response['default_roles'].length; i++) {
                    let multiplier_value = $(`#${response['default_roles'][i]}_bar`)
                        .find('.bar_value').text();
                    console.log(multiplier_value)
                    $(`#${response['default_roles'][i]}_bar`)
                        .find('.bar_display').css('width', `${(multiplier_value / 5) * 100}%`)
                }

                let communication_level_val = $('#communication_level_bar').
                    find($('.bar_value')).text();
                $('#communication_level_bar').find('.bar_display').css('width', `${(communication_level_val / 5) * 100}%`)
            }
        })
    })
</script>