{% extends 'base/base.html' %}
{% load static %}
{% block title %}
Create Gamer Profile
{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<form action="" method="POST" enctype="multipart/form-data">
    <h1>Create your Gamer Profile!!</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="post_form">
        {{ post_form}}
    </div>
    <button type="submit">Post</button>
    {{user.username}}

</form>

<input type="checkbox" name="is_post" id="is_post">Post it for your followers to see!


<!-- <form  action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        
    </form> -->

{% else %}
Login first!
{% endif %}

<script src="{% static 'PostIT/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'PostIT/js/infinite.min.js'%}"></script>

<script>
    $(".post_form").hide();
    $("#is_post").click(function () {
        if ($(this).is(":checked")) {
            $(".post_form").show();
        }
        else {
            $(".post_form").hide();
        }
    })
</script>


{% endblock content %}