{% extends 'base/base.html' %}
{% load static %}
{% block title %}
Page3 - Add Profile Page
{% endblock title %}

{% block content %}
<br />
{% if user.is_authenticated %}
{% if user.id == page_user.user.id %}
{{ user }}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
{% else %}
<h1>
    You cannot edit another user's profile >__< Dameee!!! </h1>
        {% endif %} {% endif %} {% endblock content %}