{% extends 'base/base.html' %}
{% block title %}
Page3 - Register
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

{% include 'navigation/navbar-top.html' %}

<div class="registration-container">
    <div class="page-title">
        Sign Up
     </div>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="button-4" type="submit">Register</button>
    </form>
    <div class="register-section">
       Already have an account? Log in here!
        <button class="button-4" onclick="location.href=`{% url 'login-user'%}`">Log in</button>
    </div>
</div>
{% endblock content %}