.matchmaking-main {
    margin: 0 10px;
    background-color: var(--post_bg_color);
    border-radius: 10px;
}

.matchmaking-main #matchmaking-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#matchmaking-form select {
    background: #333;
    width: 150px;
    min-height: 30px;
    border-radius: 5px;
    color: white
}

.matchmaking-item {
    margin: 10px;
}

