ul {
    padding: 0;
}

#main-bottom-nav {
    display: none;
    align-items: center;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0px;
    color: #fff;
    background-color: var(--post_bg_color);
    pointer-events: all;
    z-index: 1000;
    border-top: 1px solid var(--primary_color);
}

.nav-bottom-add-post-ul {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    margin: auto 0;
    padding: 0 20px;
}

.bottom-nav-container {
    position: relative;
}

.bottom-nav-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-nav-container img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.bottom-nav-container .add-post-submenu,
.bottom-nav-container .profile-submenu {
    position: absolute;
    top: -130px;
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary1_bg_color);
    width: 180px;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
}

.bottom-nav-container .add-post-submenu a,
.bottom-nav-container .profile-submenu a {
    flex-direction: row;
}

.bottom-nav-container .profile-img-navbar {
    margin: 0 0 0 40px;
    border: 2px solid white;
}



@media (max-width:500px) {
    #main-bottom-nav {
        display: flex;
    }
}