* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Lato', sans-serif;
}

:root {
    --primary_color: #d46ed4;
    --grey_color: rgba(217, 216, 216, 0.6);
    --bg_color: #131212;
    --secondary_bg_color: rgb(37, 37, 37);
    --tertiary1_bg_color: rgb(51, 51, 51);
    --post_bg_color: #1d1c1c;
}

a {
    text-decoration: none !important;
    color: inherit;
}



/* html {
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
} */

body {
    /* font-family: 'Varela Round', sans-serif !important; */
    min-width: fit-content;
    /* background-color: pink !important; */
    background-color: var(--bg_color) !important;
    /* height: auto; */
}

li {
    list-style: none;
}


/* navbar old start */
/* .navbar-contents {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    color: #fff;
    background-color: var(--post_bg_color);
    pointer-events: all;
    z-index: 1000;
    box-shadow: 0 2px 2px 0 rgba(212, 110, 212, 0.2), 0 1.5px 5px 0 rgba(212, 110, 212, 0.2);
}

.navbar-contents a {
    text-decoration: none;
    font-size: x-large;
    color: var(--grey_color);
    padding: 10px 15px;
    position: relative;

} */

.fa-bars {
    display: none;
}

/* 
.navbar-contents a:hover {
    color: var(--grey_color);
}


.add-post {
    margin-right: auto;
    color: var(--grey_color);
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 150px;
    z-index: 3000;
} */

/* .fa-circle-plus {

    padding-bottom: 5px;
    font-style: normal;
    position: relative;
    top: -5px;
    color: #d46ed4;
    z-index: 60000;
}
 */


.addpost-submenu {
    display: none;
}

.add-post:hover .addpost-submenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--post_bg_color);
    margin-left: 10px;
    padding: 10px 5px;
    border: 1px solid var(--grey_color);
    border-radius: 10px;
}

.add-post a,
i {
    color: var(--grey_color);
    text-decoration: none;
    margin: auto 0;
    padding: 0 10px;
}

.add-post i {
    padding-top: 10px;
}

.submenu {
    position: relative;
}

.addpost-submenu .submenu-item {
    display: flex;
    justify-content: space-between;
}

.submenu a:hover,
i:hover {
    color: var(--primary_color);
}

/* navbar old end */

/* navbar new start */
.navbar-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    color: #fff;
    background-color: var(--post_bg_color);
    pointer-events: all;
    z-index: 1000;
    box-shadow: 0 2px 2px 0 rgba(212, 110, 212, 0.2), 0 1.5px 5px 0 rgba(212, 110, 212, 0.2);
}

.navbar-contents a {
    text-decoration: none;
    /* font-size: x-large; */
    color: var(--grey_color);
    padding: 10px 15px;
    position: relative;

}

/* 
.navbar-top-left-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 50px;
    margin: 5px;
}

.navbar-top-left-section div {
    padding: 5px;
}



.navbar-top-right-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 50px;
    margin: 5px;
} */

/* navbar new end */

/* nav-top */
#main-nav a {
    color: #f6f7f8;
    height: 50;
    text-decoration: none;
    transition: background 0.4s;
}

#main-nav a:hover {
    color: var(--primary_color);
}

#main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* height: 60px; */
    position: fixed;
    top: 0;
    color: #fff;
    background-color: var(--post_bg_color);
    pointer-events: all;
    z-index: 1000;
    box-shadow: 0 2px 2px 0 rgba(212, 110, 212, 0.2), 0 1.5px 5px 0 rgba(212, 110, 212, 0.2);
    /* overflow: hidden; */
}

#main-nav ul {
    list-style: none;
    display: flex;
}

#main-nav li {
    text-align: center;
    position: relative;
    padding: 10px;
}

#main-nav li:hover .submenu>li {
    display: block;
    flex-direction: column;
    /* top: 0px; */
}



.submenu li {
    display: none;
    position: absolute;
    /* top: 0px; */
    left: -10px;
}



#main-nav .submenu {

    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--post_bg_color);

    box-shadow: 0 2px 4px 0 rgba(212, 110, 212, 0.2), 0 3px 10px 0 rgba(212, 110, 212, 0.2);
}

#main-nav li:hover .submenu {
    display: block;
    width: 170px;
    /* top: 70px; */
    padding: 10px;
    margin: 5px;
    border-radius: 10px;

}

#main-nav li:hover .arrow {
    color: var(--primary_color);

}

.submenu li {
    float: left;
}

.submenu>li:hover .fa-solid {
    color: var(--primary_color)
}

.submenu>li:hover .fa-regular {
    color: var(--primary_color)
}


.submenu li:hover .submenu-2 li {
    display: block;
}

.submenu-2 li {
    display: none;
}

.submenu-2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 100%;
    width: 200px;
}

.arrow {
    margin-left: 8px;
    color: #eee;
    font-size: 12px;
    padding-right: 10px;
}

.add-post-button {
    background-color: var(--tertiary1_bg_color);
    padding: 7px;
    border-radius: 20px;
    /* margin: 5px; */
}

.add-post-button:hover .arrow {
    color: var(--primary_color);
}

.add-post-button:hover .fa-plus {
    color: var(--primary_color);
}

.search-bar {
    width: 300px;
    height: 30px;
    border-radius: 25px;
    font-size: medium;
    background-color: #444;
    border: none;
    color: #fff;
    padding-left: 20px;
}


.profile {
    display: flex;
    justify-content: center;
}

.profile .submenu {
    display: none;
}

.profile:hover .submenu {

    display: flex;
    justify-content: center;
    border: var(--grey_color) 1px solid;
    height: 80%;
    margin: auto 0;
    padding: 5px;
    border-radius: 5px;
}

.profile a {
    color: var(--grey_color);
    text-decoration: none;
    padding: 0 10px;
    font-size: x-large;
}

.navbar-contents .home {
    margin-right: auto;
    /* z-index: 100000; */
}

.navbar-contents .home:hover {
    color: var(--primary_color);
}

/* .navbar-contents .home:hover:after {
    content: "";
    position: absolute;
    background-color: var(--primary_color);
    height: 3px;
    width: 70%;
    left: 15%;
    bottom: 5px;
} */

/* .navbar-contents .search-bar {
    margin-left: auto;
    
}

.navbar-contents .search-bar input {
    padding: 8px;
    width: 300px;
} */



.sidebar-left {
    padding-top: 100px !important;
    color: #fff !important;
    width: 300px !important;
    margin-top: -1 rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    display: block;
    background-color: var(--post_bg_color);
    border-radius: 10px;
    height: 100%;
    z-index: 10000;
    /* size: 100%; */

}

/* .sidebar-left.show {
    display: block;

} */

.sidebar-top-section {
    padding: 10px;

}

.bottom-sidebar {
    position: absolute;
    bottom: 70px;
    /* padding-bottom: 50px; */
    padding: 10px 10px 50px 10px;
}


.sidebar-profile-section {
    display: flex;
    justify-content: space-between;

    /* overflow: hidden; */
    background-color: var(--secondary_bg_color);
    border-radius: 50px;
    width: 270px;
    /* background-color: #333; */

}

.sidebar-profile-section:hover {
    box-shadow: 0 2px 4px 0 rgba(212, 110, 212, 0.2), 0 3px 10px 0 rgba(212, 110, 212, 0.2);

}

/* .sidebar-profile-section:hover {
    background-color: #444;
} */

.sidebar-profile-pic img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    margin: 10px;

}



.sidebar-profile-name {
    position: relative;
    top: 10px;
    left: -50px;

    /* background-color: #d46ed4; */
    /* color: #d46ed4; */
}


.sidebar-view-profile-button {
    font-size: small;
    color: #d46ed4 !important;
    text-decoration: none !important;
}

.sidebar-view-profile-button a {
    color: inherit !important;
    text-decoration: none;
}

.sidebar-profile-settings-button {
    margin-left: auto;
    position: relative;
    align-items: flex-end;
    top: 20px;
    left: -15px;
    cursor: pointer;
    background: none;
    padding: 0;
    margin: 0;
}

.sidebar-profile-settings-options {
    position: absolute;
    top: -120px;
    left: 20px;
    width: 300px;
    float: left;
    text-align: left;
    border-radius: 5px;
    background-color: var(--secondary_bg_color);
    box-shadow: 0 2px 4px 0 rgba(212, 110, 212, 0.2), 0 3px 10px 0 rgba(212, 110, 212, 0.2);
    padding-top: 15px;
    display: none;
}

.sidebar-profile-settings-options ul li {
    padding: 5px;
}

.sidebar-list {
    margin: 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.sidebar-list-item {
    display: flex;
    padding: 10px;
    font-size: large;
    cursor: pointer;
    border-radius: 25px;
    width: 250px;
}

.sidebar-list-item:hover {
    color: var(--primary_color);
    background-color: var(--secondary_bg_color);

    /* box-shadow: 0 2px 4px 0 rgba(212, 110, 212, 0.2), 0 3px 10px 0 rgba(212, 110, 212, 0.2); */
}

.sidebar-list-item .fa-solid {
    color: #fff;

}

.sidebar-list-item:hover .fa-solid {
    color: var(--primary_color);

}



.main-body {

    background-color: var(--bg_color);
    min-height: 100vh;
    color: white;
    min-width: fit-content;
    text-align: center;
}

.posts-timeline {
    /* min-width: fit-content; */
    width: 100%;
}

.post {
    text-align: start;
    background-color: var(--post_bg_color);
    width: 680px;
    margin: 0 auto;
    padding: 10px;
    /* border: 1px var(--grey_color) solid; */
    border-radius: 10px;
    margin-bottom: 10px;

}

.post:hover {
    box-shadow: 0 2px 4px 0 rgba(212, 110, 212, 0.2), 0 6px 20px 0 rgba(212, 110, 212, 0.2);
}

.post-body {
    padding: 10px;
    max-height: fit-content;
    text-align: start;
    width: 100%;
    overflow: hidden;
}

p::-webkit-scrollbar {
    display: none;
}

.post .images {
    display: flex;
    max-height: 400px;
    width: 100%;
    overflow: hidden;

}


.post img {
    display: block;
    max-width: 100%;
    /* height: 400px; */
    margin: 0 auto;
    object-fit: contain;
    border-radius: 5px;
    background-color: black;
}

.post .post-body-section {
    text-decoration: none;
    font-size: medium;
    color: white;
}

.post .post-tags {
    text-decoration: none;
    font-size: small;
    color: #d46ed4;
}


.post-category-section {
    display: flex;
    font-size: small;
}

.post .post-category {
    text-decoration: none;
    background-color: var(--primary_color);
    color: rgb(255, 255, 255);
    padding: 2px 5px;
    border-radius: 10px;
    font-size: x-small;
    overflow: hidden;
    margin: 5px;
}

.post .material-icons {
    color: gray !important;
    font-size: medium;
    top: 5px;
    position: relative;
}

.post .fa-puzzle-piece {
    padding: 0;
    margin: 0;
    position: relative;
    top: 7px;
}

.post .fa-heart {
    padding: 5px;
    margin: 5px;
}

.post .fa-comment {
    padding: 5px;
    margin: 5px;
}

.post .like-button {
    padding: 15px;
}

.post .reply-button {
    padding: 15px;
}

.post a {
    color: inherit;
}

.post-video {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}

.profile-pic img {
    display: inline;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;

}

.profile-pic {
    padding: 10px;
}

.post-header-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.post-header-section .post-profile-section {
    display: flex;
    flex-direction: column;
    font-size: medium;
}

.post-header-section .post-profile-section .date {
    font-size: small;
    color: var(--grey_color)
}


.post-header-section .post-options-button {
    color: #d46ed4;
    margin-left: auto;
    display: flex;
    cursor: pointer;

}

/* .post-header-section .post-options-button:hover>.post-options-list {
    display: block;
} */

.post-options-list {
    margin-left: auto;
    position: relative;
    display: none;

}

.post-options-list.show {
    display: block;
    cursor: pointer;
    z-index: 100;
}

.post-options-list-items button {
    position: absolute;
    left: 250px;
    color: #fff !important;
}

.post-options-list-items {
    position: absolute;
    left: -250px;
    background: var(--secondary_bg_color);
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(212, 110, 212, 0.2), 0 3px 10px 0 rgba(212, 110, 212, 0.2);

}

.post-options-list-items ul {
    color: #fff;
    text-decoration: none !important;
    padding: 10px;
}

.post-options-list-items ul li {
    padding: 10px;
}

.post-options-list-items ul li a {
    color: #fff;
    text-decoration: none !important;
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    /* background: rgba(0, 0, 0, .5); */
}

.blocker-page {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    display: none;

    /* background: rgba(0, 0, 0, .5); */
}

.reply-button a {
    text-decoration: none !important;
}

.page-contents {
    /* position: absolute; */
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    /* justify-content: center; */


}

.nav-sidebar {
    margin-right: auto;
    position: fixed;
    padding: 50px;
}

.sidebar {

    display: flex;
    flex-direction: column;
    background-color: var(--post_bg_color);
    min-height: 700px;
    width: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    margin-top: ;
    border-radius: 10px;
    max-height: 800px;
    position: sticky;
    top: 100px;
    z-index: 990;

}

.sidebar .article {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--secondary_bg_color);
    /* border: 1px solid var(--grey_color); */
    border-radius: 5px;
    margin: 5px 0;
}

.sidebar .article:hover {
    box-shadow: 0 2px 4px 0 rgba(212, 110, 212, 0.2), 0 3px 10px 0 rgba(212, 110, 212, 0.2);
}

.sidebar .article-category {
    text-align: start;
    width: 100%;
    color: var(--grey_color);
    font-size: larger;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--grey_color);
    margin: 5px;
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary_color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary_color);
}

.article::-webkit-scrollbar {
    display: none;
}

.sidebar .article p {
    padding: 10px 0;
    text-align: start;
}

h2::-webkit-scrollbar {
    display: none;
}

.gamer_profiles img {
    width: 100px;
    object-fit: cover;
}


button {
    background: none;
    border: none !important;
    color: white;
}



.matchmaking-main {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 900px;
    background-color: var(--post_bg_color);

}

.matchmaking-main #matchmaking-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#matchmaking-form select {
    background: #333;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: white
}

.matchmaking-item {
    margin: 10px;
}

.matchmaking-main button {
    background-color: #333;
    padding: 5px 15px;
    border-radius: 5px;
    border: #444 solid 1px;
    margin-top: 20px;
}

.gameprofile-wrapper {
    margin-top: 20px;
    display: flex;
}


/* User Posts Page */
.user_page_profile_pic img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.logged_in_user {
    visibility: hidden;
}

/* User Posts Page */

/* Search Results Page */
.button-section {
    margin-top: 40px;
}

.button-section button {
    margin: 0 20px;
    padding: 10px 20px;
    width: 140px;
    background-color: var(--post_bg_color);
    border: #444 solid 1px;
    border-radius: 5px;
}

#people-list .profile-pic {
    display: flex;
    align-items: center;
}

#people-list .profile-pic .username {
    padding: 10px;
}

/* Search Results Page */


/* Modal start */
.reply-modal-container {
    background-color: rgba(80, 80, 80, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.reply-modal-container.show {
    pointer-events: auto;
    opacity: 1;

}

.modal-div {
    padding: 30px 50px;
    border-radius: 10px;
    background-color: #fff;
    z-index: 10;
    width: 600px;
    max-width: 100%;
}

.scroll-to-last-viewed {
    position: fixed;
    z-index: 100;
    color: blue;
}

/* Modal end */


.navbar-toggle {
    display: none;
}


/* Communities section */
.blocker-page-community {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    display: none;

    /* background: rgba(0, 0, 0, .5); */
}

.communities-section-sidebar {
    border-radius: 10px;
    background-color: var(--secondary_bg_color);
}

.communities-section-sidebar:hover {
    box-shadow: 0 2px 4px 0 rgba(212, 110, 212, 0.2), 0 3px 10px 0 rgba(212, 110, 212, 0.2);
}

.communities-section-sidebar-header {
    padding: 10px;
    /* background-color: var(--primary_color); */
    border-radius: 10px;
    overflow: hidden;
}

.communities-section-sidebar table tr td {
    padding: 5px;
}

.communities-section-sidebar button {
    background-color: var(--primary_color);
    width: 300px;
    border-radius: 50px;
    padding: 7px;
    font-size: small;
    margin-bottom: 10px;
}

.community-name-sidebar {
    float: left;
    margin-top: 10px;
    font-size: medium;
}

.community-name-sidebar :hover {
    /* text-decoration: none; */
    color: var(--primary_color);
}


.community-table-sidebar {
    margin: 5px;
}

.community-profile-pic-sidebar img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.community-item-sidebar button {
    background-color: var(--primary_color);
    width: 80px;
    border-radius: 50px;
    padding: 5px;
    font-size: small;
    margin-top: 10px;


}

.community-header {
    background-color: var(--post_bg_color);
    width: 100%;

    position: relative;
    top: 65px;
}

.community-header-img {
    /* display: block; */
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.community-header-profile {
    margin: auto;
    width: 100%;
    border: 3px solid green;
    padding: 10px;
}

.add-post-community-options {
    display: none;
}

/* Media Queries */



@media (max-width:500px) {

    .sidebar {
        display: none;
    }

    .posts-timeline {
        /* width: 80%;
        margin: auto; */
    }

    .posts-timeline ul {
        /* margin-block-start: 0;
        margin-block-end: 0; */
        padding-inline-start: 0;
    }

    .sidebar-left {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }



}

/* 
@media (max-width:500px) {
    .navbar-toggle {
        display: block;
    }
} */
/* 
@media (min-width:501px) {
    .navbar-contents a {
        font-size: x-large;

    }
}

@media (max-width:501px) {
    .navbar-contents a {
        color: aqua !important;

    }
} */