{% load static %}
<div class="post">
    <div>
        {% include 'post/postElement/post_content_section.html' %}

        {% if user.is_authenticated %}


        <div class="post-interact"></div>
        <button id="like-button" class="like-button" name="{{ post.like_count }}"
            value="{{ post.id }}">{{post.like_count}}<i class="fa-solid fa-heart"></i>
        </button>


        <a class="reply-button" href="{% url 'upload_reply' post.pk %}" onclick="storeScroll()">
            {{post.reply_count}}<i class="fa-solid fa-comment"></i></a>



        {% endif %}


    </div>
</div>