{% load static %}
<div class="post">
    <div>
        {% include 'post/postElement/post_content_section.html' %}



        {% if user.is_authenticated %}

        <!-- <span id="like_count" type="hidden">{{ post.like_count}}</span> -->

        <!-- Modal start -->

        <div class="reply-modal-container" id="reply-modal-container">
            <div class="modal-div">
                <h1>reply to</h1>
                {% include 'post/post_replies_form.html' %}
                <button id="close-modal">CLose modal</button>
            </div>
        </div>

        <!-- Modal end -->
        <div class="post-interact"></div>
        <button id="like-button" class="like-button" name="{{ post.like_count }}"
            value="{{ post.id }}">{{post.like_count}}<i class="fa-solid fa-heart"></i>
        </button>

        <!-- 
        <a class="reply-button" href="{% url 'upload_reply' post.pk %}" onclick="storeScroll()">
            {{post.reply_count}}<i class="fa-solid fa-comment"></i></a> -->
        {%if post.user_profile %}
        <!-- {{post.user_profile}} -->
        <button id="open-reply-modal" class="reply-button" value="{{post.pk}}">{{post.reply_count}}<i
                class="fa-solid fa-comment"></i></button>
        {%endif %}
        {% endif %}

        {% if post.is_lft_lfp_post %}
        <!-- <button id="vouch-button" class="vouch-button" name="{{ post.vouch_count }}"
            value="{{ post.id }}">{{post.vouch_count}}Vouch
        </button> -->

        <!-- Vouch user starts -->
        {% if vouched_for_user %}
        <button class="vouch-user-button button-4" value="{{post.author.profile.user.id}}">Vouched <i
                class='fa-solid fa-check'></i></button>

        {% else %}
        <button class="vouch-user-button button-3" value="{{post.author.profile.user.id}}">Vouch </button>
        {% endif %}

        <!-- Vouch user ends -->
        {% endif %}
        <div>
            <div style="cursor: pointer;">
                <a href="{% url 'liked-by' post.id %}"> View Likes</a>
            </div>
            {% if post.is_lft_lfp_post %}
            <div>
                <a href="{% url 'vouched-by' post.author.profile.id %}">View Vouches</a>


            </div>
            {% endif %}
        </div>

    </div>
</div>

<script src="{% static 'PostIT/js/togglePostOptions.js'%}"></script>

<script>
    function updateVouchButtonText(btn, no_of_vouches, vouched_for_user) {
        if (vouched_for_user) {
            elem1 = "<i class='fa-solid fa-check'></i>"
            elem = "Vouched <i class='fa-solid fa-check'></i>"
            btn[0].className = "vouch-user-button button-4"
        }
        else {

            elem = "Vouch"
            btn[0].className = "vouch-user-button button-3"
        }
        vouch_count_text = document.getElementsByClassName("vouch-count")[0]
        console.log("Vouch ccount" + vouch_count_text)
        btn[0].innerHTML = elem

        vouch_count_text.innerHTML = no_of_vouches
        console.log(btn[0].innerHTML)
    }


    $(document).on('click', '.vouch-user-button', function (e) {
        e.preventDefault();

        var this_ = $(this)
        userid = this_.attr("value").valueOf()
        console.log("Trying to vouch")
        // var somevar = this_.attr()
        $.ajax({
            type: 'POST',
            url: '{% url "vouch-user" %}',
            data: {
                userid: userid,
                action: 'post',
            },
            success: function (json) {
                no_of_vouches = json['result'];
                vouched_for_user = json['vouched_for_user'];
                console.log(json)
                updateVouchButtonText(this_, no_of_vouches, vouched_for_user)
            },
            error: function (xhr, errmsg, err) {

            }
        });
    })
</script>