{% extends 'base/base.html' %}
{% block title %}
Page3 - Add post
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
{% include 'navigation/navbar-top.html' %}
<div class="main-body">
    {% include 'navigation/sidebar-left.html' %}

    <div class="page_contents">
        <form action="" method="POST" id="add_post_form" enctype="multipart/form-data" style="color: white;">
            <div class="form_contents">
                <div class="form_label">
                    Add a post
                </div>
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit">Post</button>
            </div>
        </form>
    </div>
</div>


{% else %}
Login first!
{% endif %}
{% endblock content %}