{% extends 'base/base.html' %}
{% load static %}
{% block title %}
Page3 - Add reply
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}

{% if parents_arr %}
{% for parent in parents_arr %}
{{ parent.author }}<br />
{{ parent.body|safe }}<br /><br />
{% endfor %}
{% endif %}

<br /><br /><br />
{% if user.is_authenticated %}

{% if replying_to %}
Replying to
{% for parent in replying_to %}
{{ parent.author}}<br />
{{ parent.body|safe }}
{% endfor %}
{% endif %}
<hr />

{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<h1>{{ post.title }}</h1><a href="{% url 'edit-post' post.pk %}">Edit</a><br />
{% endif %}
{% endif %}


<small>{{ post.author.first_name }} {{ post.author.last_name }}
    {{ post.post_date}}</small><br />
<hr>

{% if post.has_images %}

{% for image in image_list %}
{% if image.post.id == post.id %}
<img src="{{ image.image.url}}" width="500">
{% endif %}
{% endfor %}
{{ post.imagefiles}}
{% endif %}

{% if post.video %}
<video width="500" controls autoplay>
    <source src="{{post.video.url}}" type="video/mp4">
</video>

{% endif %}
<br />
{% if user.is_authenticated %}

<!-- <span id="like_count" type="hidden">{{ post.like_count}}</span> -->
<button id="like-button" class="like-button" name="{{ post.like_count }}" value="{{ post.pk }}">LIKED BY
    {{post.like_count}}</button>
<a href="{% url 'add-reply' post.pk %}">Text Reply</a>
<a href="{% url 'add-image-reply' post.pk %}">Image Reply</a>
<a href="{% url 'add-video-reply' post.pk %}">Video Reply</a>


{% endif %}

<form action="" id="ajaxReply" value="{{post.pk}}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% for field in form %}
    {{ field }}<br />
    {% endfor %}

    <!-- {{ imageform.management_form }}

    {% for form in imageform %}
    {{ form }}
    {% endfor %} -->
    <button type="submit">Reply</button>
</form>





<div id="replies-section">
    {% include 'replies_list.html' %}
</div>



<button onclick="history.go(-1)">Back</button>
<!-- <a href="{% url 'home-page'  %}">Back</a> -->


<script>
    function updateText(btn, no_of_likes) {
        btn.text("LIKED BY" + " " + no_of_likes)
    }
    $(document).on('click', '#like-button', function (e) {
        e.preventDefault();

        var this_ = $(this)
        postid = this_.attr("value").valueOf()



        $.ajax({
            type: 'POST',
            url: '{% url "like" %}',
            data: {
                postid: postid,
                // postid: $('#like-button').val(),
                action: 'post',
            },
            success: function (json) {
                no_of_likes = json['result'];
                console.log(json)
                updateText(this_, no_of_likes)
            },
            error: function (xhr, errmsg, err) {

            }
        });
    })


</script>


<script>
    function updateText(btn, no_of_likes) {
        btn.text("LIKED BY" + " " + no_of_likes)
    }
    function myfunction() {

        let allLikes = document.getElementsByClassName('like-button');


        for (let i = 0; i < allLikes.length; i++) {
            let attributeValue = allLikes[i].getAttribute('value');
            console.log(typeof allLikes[i])
            console.log(attributeValue)

            $.ajax({
                type: 'POST',
                url: '{% url "set_likes" %}',
                data: {
                    postid: attributeValue,
                    // postid: $('#like-button').val(),
                    action: 'post',
                    // postid: '{{ post.pk }}',
                },
                success: function (json) {
                    no_of_likes = json['result'];
                    //console.log(json)
                    //updateText(allLikes[i], no_of_likes)
                    allLikes[i].innerHTML = "LIKED BY" + " " + no_of_likes
                    console.log("AJAX REQUEST")
                },
                error: function (response) {

                }
            });


        }
        console.log(allLikes)

    }

    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/posts"
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function () {
        var listedItems = xhr.response.response
        console.log(listedItems)
    }
</script>

<script>


    $(document).on('submit', '#ajaxReply', function (e) {
        e.preventDefault();
        var this_ = $(this)
        postid = this_.attr("value").valueOf()
        console.log("VALUEEE: ", postid)

        title = $('#id_title').val()
        body = $('#id_body').val()
        category = $('#id_category').val()



        $.ajax({
            type: 'POST',
            url: '{% url "save_ajax_reply" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                postid: postid,
                title: title,
                body: body,
                category: category,
                // postid: $('#like-button').val(),
                action: 'post',
            },
            success: function (json) {
                console.log(json['replies_list'])
                //console.log(json)
                //deleteChild();
                $("#replies-section").html(json['replies_list']);
                //$('.replies-section').html(json['replies_list'])
            },
            error: function (xhr, errmsg, err) {

            }
        });

    })
</script>


Login first!
{% endif %}
{% endblock content %}